* { margin: 0;} /* elimina as margens do navegador */

div, section{
  width: 100px;
  height: 100px;
  margin: 20% auto;

  border: 20px solid red;

  border-top:  dotted green 4px;
  
  border-bottom: none;

  outline: yellow 4px solid;
}
 
